{{>header}}
<div style="margin-left: 5%;margin-right: 5%;">
    <h4 class="form-group text-center">Lista de Cursos</h4>
    {{{crearCurso id nombre intensidad valor descripcion modalidad}}}
    {{cerrar curso}}
</div>
{{>footer}}