{{>header}}
<div class="text-center">
     <h4>Bienvenido a la pagina de Inicio de los cursos de extension</h4>
</div>
    <div class="text-center" style="margin-left: 35%; margin-right: 35%">
        <br><br>
        <p class="text-center">Aca podras encontrar los diferentes cursos ofertados por el tecnologico de antioquia</p>
    </div>
{{>footer}}
